.gradient {
  background: linear-gradient(to top, #3b6dc3, #230555);
}

.center {
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25em;
  height: 5em;
  margin: auto;
  border: 3em;
  text-align: center;
  font-style: sans-serif;
  font-size: x-large;
  text-shadow: -1px 0 black;
}

.sub-header {
  font-size: small;
  font-style: italic;
}

.black-border {
  border: 2px solid black;
  margin: 10px 10px;
  width: 75%;
}

.history-box {
  width: 25%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.align-items {
  align-items: center;
}

.list-style {
  list-style: none;
}

.card-size {
  width: 20%;
  padding: 0px;
  margin: 0px;
}

.margin {
  margin: 20px 0px 20px 0px;
}
